# Ambienti Virtuali
venv/
.venv/
env/
.env/

# Byte-compiled / optimized / C extensions
__pycache__/
*.py[cod]
*$py.class
*.so

# File di configurazione degli IDE
.idea/
.vscode/
*.swp
*.swo

# File di sistema operativo
.DS_Store
Thumbs.db

# Report di test e cache
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Log, Dati e Modelli generati localmente
# Queste cartelle devono essere vuote nel repository e popolate dagli script.
/data/processed/
/models/
/logs/

# File di database locali
*.sqlite
*.db

# File temporanei di esperimenti
mlruns/
wandb/